body {
    color:#FFFFFF;
    /* background-image:url("25810009.jpg"); */
    background-repeat:no-repeat;
    /* background-position: center; */
    /* width:100%; */
    /* height:544px; */
}
.table td {
   text-align: center;   
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top:0;
    border-bottom:0;
    text-align: center;   
}
.navbar-inverse {
    background-color: rgba(30,30,30,0.7);
}

.navbar-inverse .navbar-brand {
    color:white;
}

.navbar-nav {
    font-family: 'Varela Round', sans-serif;
}

h3 {
    font-family: 'Varela Round', sans-serif;
    font-weight:bold;
}
.foo {
    /* background-color:rgba(255,255,255,0.8); */
    /* margin-top:200px; */
    margin-top:50px;
    width:100%;
    height:100%;
    position: absolute;
    z-index:1000;
    color: black;
}

#headsup {
    font-family: Monaco,"Lucida Console", monospace;
    font-weight:bold;
    font-size:70%;
}

.container {
        font-family: 'Varela Round', sans-serif;
}


.table.fhrtable>tbody>tr>td {
    padding:0;
}
